<div class="row text-center">
  <div class="col-md-4 tours">
    <img src="./../../assets/tour-3-3.jpg" class="img-fluid" />
    <h4>Snow Skiing in New Zealand</h4>
    <button type="button" class="btn btn-success">Visit</button>
  </div>
  <div class="col-md-4 tours">
    <img src="./../../assets/tour-2-1.jpg" class="img-fluid" />
    <h4>Exciting Summer in Hawaii</h4>
    <button type="button" class="btn btn-success">Visit</button>
  </div>
  <div class="col-md-4 tours">
    <img src="./../../assets/tour-1-cover.jpg" class="img-fluid" />
    <h4>Forest Adventure in Japan</h4>
    <button type="button" class="btn btn-success">Visit</button>
  </div>
</div>
